<h1>vdhanan's Instagram!</h1>
<h2>check me out</h2>
<% @posts.each do |x| %>
    <div class="white">
        <%= image_tag x.image.url(:medium) %>
        <br>
        <%= x.description %>
    </div>
<% end %>